
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*font-family: "Montserrat", sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

h1{
    color:black;
    background-color:rgba(247, 234, 234, 0.541);
    text-align: center;
    font-family:sans-serif;
    font-size: 15px;  
}

a{
    color: black;
    text-align: center; 
    font-size: 20px;
}

h3{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}

#menu{
    text-align: center;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7rem;
}

.logo{
    width: 20%;
}

.link-menu{
    margin: 1rem;
    text-decoration: none;
}

.contenedor-carrousel{
  max-width: 100%;     
  overflow: hidden;
}
#carrousel{
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    display: grid;
}
#carrousel img{
    max-width: 100%; 
    height: auto; 
}
.contenedor-padre {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 100px;
    flex-wrap: nowrap;
}

.producto1,
.producto2,
.producto3,
.producto4 {
    width: 70%;
    margin: 0 10px;
}

@media screen and (max-width: 768px) {
    .contenedor-padre {
        margin-left: 0; 
        flex-wrap: wrap; 
        justify-content: center; 
    }
    .producto1,
    .producto2,
    .producto3,
    .producto4 {
        width: calc(50% - 20px); 
        margin: 10px; 
    }
    
    .button,
    input[type="submit"],
    .contenedor-padre button {
        margin: 10px 0; 
    }

    #mail {
        padding: 5px 20px; 
    }
}

.titulo-img {
    font-family: "Montserrat", sans-serif;
}

.button,
input[type="submit"] {
    border-radius: 10px;
    padding: 5px 15px;
    background-color: black;
    color: white;
}

.contenedor-padre button {
    border-radius: 10px;
    padding: 5px 15px;
    background-color: black;
    color: white;
}

#mail {
    text-align: center;
    border-radius: 10px; 
    padding: 5px 20px;
}

/*link redes sociales */
.contenedor-link{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.contenedor-link img{
    width: 20px; 
}
#redes{
    text-align: center;
    padding: 20px 20px 0px;
}
#newsletter h3{
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
}

/* grid fotos clientes */

.galeria{
    width: 100%;
    margin: auto;
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, 150px);
    grid-template-areas: "donmau martini martini orion"
                         "donmau martini martini orion"
                         "donmau martini martini orion"
                         "donmau martini martini orion"
                         "progeu progeu  union  union"
                         "progeu progeu  union  union";
}

.donmau{
    grid-area: donmau;
    position: relative;
}
.donmau img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.martini{
    grid-area: martini;
    position: relative;
}
.martini img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.orion{
    grid-area: orion;
    position: relative;
}
.orion img{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.iltrento{
    grid-area: progeu;
    position: relative;
}
.iltrento img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.union{
    grid-area: union;
    position: relative;
}
.union img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*solapa productos*/
#productos{
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    background-image: url(img/portadavino.jpg);
    background-size: cover; 
    background-position: center; 
}
#productos h2 {
    font-size: 50px;
    color: #f6f5f5;
    margin-bottom: 10px;
}
.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 20px;
}
.productowine,
.productobirra,
.productogin,
.productocheers,
.productomate {
    width: 80%; 
    max-width: 300px; 
    margin: 20px; 
}
.contenedor-productos button{
    border-radius: 10px;
    padding: 5px 15px;
    background-color: black;
    color:white;
    width: 100%; 
    margin-top: 10px; 
}

/* solapa contacto */  
#contacto {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    background-image: url(img/portada-gin.jpg); 
    background-size: cover; 
    background-position: center; 
}
 
#contacto h2 {
    font-size: 50px;
    color: #f6f5f5;
    margin-bottom: 10px;
}
  
#contacto p {
    color: #666;
    margin-bottom: 0px;
}
  
/* estilo para el formulario */
.formulario {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
  
.formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.formulario select {
    height: 40px;
}
  
.formulario input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
}
  
.formulario input[type="submit"]:hover {
    background-color: #45a049;
}
#mapa{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.contenedorempresas{
    text-align: center;   
}

/* Estilos para el footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center; 
    font-size: 14px; 
    margin-top: 20px;
}
footer a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px; 
}

@media screen and (max-width: 768px) {
    footer {
        font-size: 12px;
    }
    
    footer a {
        display: block; 
        margin: 5px auto; 
    }
}
